<%= render 'header_2' %> 
		<!--Zawartość podstrony-->
		<div class="container">
				<h3 class='myBorrHeader'>Moje wypożyczenia</h3>
				<!--Tabela z wypożyczonymi książkami-->
				<table class='borrows'>
					<% if !@borrows.nil? %>
					<th>Okładka</th><th>Tytuł</th><th>Autor</th><th>Data wypożyczenia</th><th>Data zwrotu</th><th></th>
						<% @borrows.each do |b| %>
						<% borrowID = b.id %>
				      	<tr>
							<% book = Book.find(b.book_id)%>
							<td><%= image_tag(book.image(:thumb)) %></td>
					        <td><%= book.title%></td>  
					        <td>
					        	<% book.writers.each do |writer| %>
					        	<%= writer.name %>
					        	<% end %> 
					        </td>
					        <td><%= b.receivedDate %></td>
					        <%if b.returnedDate==nil%>
					        	<td>Aktualnie w wypożyczeniu</td>
					        <%else%>
					        	<td><%= b.returnedDate %></td>
					        <%end%>
					        <td><%= link_to 'Pokaż', {controller: 'readers', action: 'showBorrow', borrowID: borrowID} %></td>
					    </tr>
				    	<% end %>
				   
			    	<% end %>
				</table>
		</div>
<%= render 'welcome/footer' %>
