<%= render 'header_2' %> 
		<!--Zawartość podstrony-->
		<div class="pageContent">
			<div class="content">
				<h2 class='myBorrHeader'>Moje wypożyczenia</h2>
				<!--Tabela z wypożyczonymi książkami-->
				<table class='borrows'>
					<% if !@borrows.nil? %>
					<th>Tytuł</th><th>Autor</th><th>Data wypożyczenia</th><th>Data zwrotu</th><th></th>
						<% @borrows.each do |b| %>
						<% borrowID = b.id %>
				      	<tr>
							<% book = Book.find(b.book_id)%>
					        <td><%= book.title%></td>  
					        <td>
					        	<% book.writers.each do |writer| %>
					        	<%= writer.name %>
					        	<% end %> 
					        </td>
					        <td><%= b.receivedDate %></td>
					        <%if b.returnedDate==nil%>
					        <td>Aktualnie w wypożyczeniu</td>
					        <%else%>
					        <td><%= b.returnedDate %></td>
					        <%end%>
					        <td><%= link_to 'Show', {controller: 'readers', action: 'showBorrow', borrowID: borrowID} %></td>
					    </tr>
				    	<% end %>
				    <%else%>
				    	<%= puts "<p>Nie znaleziono książek o podanym tytule!</p>"%>
			    	<% end %>
				</table>
			</div>
		</div>
		<div class="welcome/footer"></div>
	</body>
</html>