<%= render 'header_2' %> 
		<!--Zawartość podstrony-->
		<div class="container">
				<h3 class='myResHeader'>Moje rezerwacje</h3>
				<!--Tabela z rezerwacjami książek-->
				<table class='reservations'>
					<% if !@reservations.nil? %>
					<th>Tytuł</th><th>Autor</th><th>Data utworzenia</th><th>Data aktualizacji</th><th></th><th></th>
						<% @reservations.each do |r| %>
						<% reservationID = r.id %>
				      	<tr>
							<% book = Book.find(r.book_id)%>
					        <td><%= book.title%></td>  
					        <td>
					        	<% book.writers.each do |writer| %>
					        	<%= writer.name %>
					        	<% end %> 
					        </td>
					        <td><%= r.created_at %></td>
					        <td><%= r.updated_at %></td>
					        <td><%= link_to 'Pokaż', {controller: 'readers', action: 'showRes', resID: reservationID} %></td>
					        <td><%= link_to 'Usuń', r, method: :delete, data: { confirm: 'Are you sure?' } %></td>
					    </tr>
				    	<% end %>
				   
			    	<% end %>
				</table>
		</div>
<%= render 'welcome/footer' %>
