<%= render 'header_2' %> 
		
		<!--Zawartość podstrony-->
		<div class = "pageContent">
			<div class = "content">
				<!--Formularz do wyszukiwania-->
				<div class="formHolder">
					<div class = "searchForm">
						<%= form_tag searching_reader_path, :method => 'get', :class => 'searchBookForm' do %>
				  			   <%= text_field_tag :title, params[:title], :class => 'form-control' %>
				    		   <%= submit_tag "Search", :name => nil, :class => 'btn btn-default' %>
						<% end %>
					</div>
				</div>
				<!--Wyświetlanie znalezionych książek-->
				<div class = "booksTable">
				<table>
					<% if !@books.nil? %>
						<% @books.each do |book| %>
						<% bookID = book.id %>
				      	<tr>
					        <td><%= book.title %></td>
					        <td>
								<% book.writers.each do |writer| %>
					        	<%= writer.name %>
					        	<% end %>
					        </td>
					        <td><%= link_to 'Show',{controller: 'books', action: 'show', id: bookID, readerID: current_reader} %></td>
					       
				      	</tr>
				    	<% end %>
				    <%else%>
				    	<p>Nie znaleziono książek o podanym tytule!</p>
			    	<% end %>
			    	</table>
		 		</div>
		 	</div>
		</div>
<%= render 'footer_2' %>