<%= render 'header_2' %> 
<div class="bookInfo">
    
	<% r = Reservation.find(params[:borrowID])%>

	<% book = Book.find(r.book_id)%>
		<%= image_tag(book.image(:medium), :class => 'bookImage') %>
                <table class="reaBorTable">
        		        <tr><th>Tytuł:</th><td><%= book.title%></td></tr>
                        <tr><th>Autor:</th><td><% book.writers.each do |writer| %>
                                        	<%= writer.name %>
                                        	<% end %> 
                                       </td></tr>
                        <tr><th>Kategoria:</th><td><%= Category.find(book.category_id).name %></td></tr>
                        <tr><th>Opis:</th><td><%= book.description %></td></tr>
                        <tr><th>Data wypożyczenia:</th><td><%= r.receivedDate %></td></tr>
                        <tr><th>Zwrócono:</th>
                            <%if r.returnedDate==nil%>
                                <td>Aktualnie w wypożyczeniu</td>
                            <%else%>
                                <td><%= r.returnedDate %></td>
                            <%end%>
                        </tr>
                        <tr><th>Ocena:</th><td><%= @average %></td></tr>
                </table>
                <% if r.returnedDate != nil %>
                    <%= form_tag(controller: "readers", action: "mark") do %>
                    <form>
                        <fieldset>
                            <span class="star-cb-group">
                                <%= rating_for book, "score" %>
                                <%= radio_button_tag(:review, 1) %>
                                <%= label_tag(:review, "1") %>
                                <%= radio_button_tag(:review, 2) %>
                                <%= label_tag(:review, "2") %>
                                <%= radio_button_tag(:review, 3) %>
                                <%= label_tag(:review, "3") %>
                                <%= radio_button_tag(:review, 4) %>
                                <%= label_tag(:review, "4") %>
                                <%= radio_button_tag(:review, 5) %>
                                <%= label_tag(:review, "5") %>
                            </span>
                        </fieldset>
                    </form>
                        <%= label_tag(:comment, "Komentarz") %>
                        <%= text_area_tag(:comment, "Hi, nice site", size: "50x10") %>
                        <%= submit_tag "Oceń", :class => "btn btn-primary bookButton" %> 
                    <% end %>
                <% end %>
        <p><%= link_to 'Powrót', my_borrows_reader_path %></p>
</div>


<%= render 'welcome/footer' %> 

