<div class="bookInfo">
<%= render 'header_2' %> 
	<% r = Reservation.find(params[:borrowID])%>

	<% book = Book.find(r.book_id)%>
		<%= image_tag(book.image(:medium)) %>
		<p>Title: <%= book.title%></p>
        <p>Author: <% book.writers.each do |writer| %>
        	<%= writer.name %>
        	<% end %> 
        </p>
        <p>Category: <%= Category.find(book.category_id).name %></p>
        <p>Description: <%= book.description %></p>
        <p>Created at: <%= r.created_at %></p>
        <p>Updated at: <%= r.updated_at %></p>
        <p><%= link_to 'Back', my_borrows_reader_path %></p>
</div>


<%= render 'welcome/footer' %> 

