<!DOCTYPE html>
<html>
<head>
  <title>Library</title>
  <%= stylesheet_link_tag 'reset', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%=javascript_include_tag "vendor/modernizr"%>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<div class="header">
		<div class="row">
			<div class="small-12 columns header-content">
				<div class="small-2 image"><%=image_tag("owl.png")%></div>
				<div class="small-10 welcome">
					<ul>
					<li><%= link_to 'Home', {controller: "welcome", action: 'index'} %></li>
					<li><%= link_to 'New books', {controller: "welcome", action: 'newBooks'} %></li>
					<li><%= link_to 'About', {controller: "welcome", action: 'about'} %></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="row">
			<!--<form method="post" action="www.google.pl">	
				Nazwa: <input type="text">
				</form>		-->	
			
			<h1>O nas!</h1>
		</div>
	</div>
	<div class="footer"></div>
</body>
</html>


<!--<%= yield %> -->