<%= render 'header' %>
		
		
			<div class="mainPicture">
				<div class='welcomeText'>
					<p>Witaj w naszej bibliotece!</p>
				</div>
			</div>
		
		<!--Sekcja nowych książek-->
		<div id="newBooks">
			<div class="indexSection">
					<h4>Najnowsze propozycje!</h4>
			</div>
				<div class="container">
					<div class="table-responsive">
				        <table class="newBooks">
				        <th></th><th>Tytuł</th><th>Autor</th><th></th>
				        <% if !@books.nil? %>
				          <% @books.each do |book| %>
				            <tr>
				                <td><%= image_tag(book.image(:thumb)) %></td>
				                <td><%= book.title %></td>
				                <td><% book.writers.each do |writer| %>
				                <%= writer.name %><% end %></td>
				                <td><%= link_to 'Pokaż',{controller: 'books', action: 'show', id: book.id } %></td>
				            </tr>
				          <% end %>
				         <% end %>
				        </table>
				     </div>
				</div>
		</div>
		<!--Sekcja "O nas"-->
		<div id="about">
			<div class="indexSection">
				<h4>O nas!</h4>
			</div>
			<div class="container">
				<p>Projekt zaliczeniowy z przedmiotu Nowoczesne Technologie Programistyczne.</p>
				<p>	Wykonali: Karolina Pawlus i Arkadiusz Szczepkowicz.</p>
				<p>	Wydział Elektrotechniki i Informatyki Politechniki Rzeszowskiej</p>
			</div>
		</div>
	</div>
<%= render 'footer' %>
