<%= render 'header' %>
	<div class="container">
		<h1>Strona główna!</h1>
		<%=image_tag("owl.png", width: 400, height: 400)%>
		<%=image_tag("owl.png", width: 400, height: 400)%>
		<%=image_tag("owl.png", width: 400, height: 400)%>
		<%=image_tag("owl.png", width: 400, height: 400)%>
		<%=image_tag("owl.png", width: 400, height: 400)%>
		<%= yield %>
	</div>
<%= render 'footer' %>
