<%= render 'header' %> 
  <div class="container">
		<h1>Najnowsze pozycje!</h1>
    <div class="table-responsive">
        <table class="newBooks">
        <% if !@books.nil? %>
          <% @books.each do |book| %>
            <tr>
                <td><%= image_tag(book.image(:medium)) %></td>
                <td><% book.writers.each do |writer| %>
                <%= writer.name %></td>
                <% end %>
                <td><%= book.description %></td>
            </tr>
          <% end %>
         <% end %>
        </table>
      </div>
		<%= yield %>
	</div>
<%= render 'footer' %>




