<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
<div class="form-group">
    <%= f.label :email %>
    <div>
        <%= f.email_field :email, :value => "reader@example.com", autofocus: true , class: "form-control" %>
    </div>
</div>

<div class="form-group">
    <%= f.label :password %>
    <div>
        <%= f.password_field :password, :value => "password", autocomplete: "off", class: "form-control" %>
    </div>
</div>

<% if devise_mapping.rememberable? -%>
<div class="form-group">
    <div>
        <%= f.check_box :remember_me %> <%= f.label :Zapamiętaj_mnie %>
    </div>
</div>
<% end -%>

<div class="form-group">
    <div>
        <%= f.submit "Zaloguj", class: 'btn btn-primary' %>
    </div>
</div>

<div class="links-f">
<%= render "devise/shared/links" %>
</div>
<% end %>