<!DOCTYPE html>
<html>
<head>
  <title>Library</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if librarian_signed_in? %>
	Zalogowany jako: <%= current_librarian.email %>. <%= link_to('Wyloguj', destroy_librarian_session_path, :method => :delete) %> 
<% else %>	
	<%= link_to('Zaloguj się', librarian_session_path) %>  lub <%= link_to('Zarejestruj się', new_librarian_registration_path) %> 
<% end %>
<%= yield %>

</body>
</html>
